<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- always put your name in your work -->
    <meta name="authors" content="Joseph Nagy">
    <!-- always label your name with a title -->
    <title>tidywork.space</title>
    <!-- scale page to fit entire screen, so it properly fills non-desktop devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- DEV-only for easier refreshing: stop the web browser from ever caching this page or its images -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- load required Bootstrap and BootstrapVue CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <!-- load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <!-- load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.js"></script>
    <!-- Link the stylesheet -->
    <link rel="stylesheet" href="style.css">
    <!-- interaction for this page, defer loading until after page to allow access to DOM elements -->
    <script defer src="classes.js"></script>
    <script defer src="example_data.js"></script>
    <script defer src="main.js"></script>

    <!-- API AXIOS IMPORTING -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script src="json-sample.js"></script>

</head>

<body>
    <div id="app" :style="{backgroundColor: currentBoard.color}">
        <!-- page header -->
        <header>
            <img id="upper_left" src="data/tw-logo.png" alt="tidywork.space logo">
            <h1 class="title">{{currentBoard.name}}</h1>

            <div class="edit-board-dropdown">
                <!-- EDIT BOARD b-dropdown -->
                <b-dropdown boundary="window" text="Edit Board">
                    <div class="mx-3 my-3">
                        <ul>
                            <li>
                                <!-- select current board modal button -->
                                <b-button v-b-modal="'switchBoardModal'+currentBoard.name" variant="info">Switch Boards</b-button>
                            </li>
                            <li>
                                <!-- create new board modal button -->
                                <b-button v-b-modal="'newBoardModal'+currentBoard.name" variant="info">New Board</b-button>
                            </li>
                            <li>
                                <!-- create column modal button -->
                                <b-button v-b-modal="'newColumnModal'+currentBoard.name" variant="info">New Column</b-button>
                            </li>
                            <li>
                                <!-- create column modal button -->
                                <b-button v-b-modal="'boardOptionsModal'+currentBoard.name" variant="info">Edit Board</b-button>
                            </li>
                        </ul>
                    </div>
                </b-dropdown>
            </div> 

            <!-- modal to view/edit board detials -->
            <b-modal 
                :id="'boardOptionsModal'+currentBoard.name" 
                :title="currentBoard.name" 
                ok-only 
                ok-title="Close Board Options">
            
                <!-- modal CONTENT to view/edit BOARD detials -->
            
                <!-- edit title -->
                <label><b>Board Title</b></label>
                <input v-model="currentBoard.name" style="width: 100%" type="text"></input>
                <hr />
            
                <!-- edit background color -->
                <label><b>Board Background Color</b></label>
                <input v-model="currentBoard.color" style="width: 100%" type="color"></input>
                <hr />
            </b-modal>


            <!-- select current board modal  -->
            <b-modal 
                :id="'switchBoardModal'+currentBoard.name" 
                title="Select Board" 
                ok-only 
                ok-title="Switch Boards"
                @ok="switchBoards()">

                <!-- board options -->
                <label><b>Your Boards</b></label>
                <select 
                    name="boardSelection" 
                    id="boardSelectionOptions" 
                    v-model="currentBoard"
                >
                    <option v-for="(board, b) in boards" :value="board">{{board.name}}</option>
                </select>



            </b-modal>

            
            <!-- select current board modal  -->
            <b-modal 
            :id="'newBoardModal'+currentBoard.name" 
            title="New Board" 
            ok-only 
            ok-title="Create Board"
            @ok="createBoard()">

                <!-- column title  -->
                <label><b>Board Name</b></label>
                <input 
                    v-model="newBoard.name" 
                    style="width: 100%" 
                    type="text" 
                    placeholder="Board Name"></input>
                <hr /> 
            
            
            </b-modal>

            
            <!-- create column project modal  -->
            <b-modal 
                :id="'newColumnModal'+currentBoard.name"
                :title="newColumn.name" 
                ok-only 
                ok-title="Create List"
                @ok="createColumn()">
                
                <!-- actual edit column modal -->
            
                <!-- column title  -->
                <label><b>Column Title</b></label>
                <input v-model="newColumn.name" style="width: 100%" type="text" placeholder="Column Name"></input>
                <hr />
            
                <!-- column color  -->
                <label><b>Column Color</b></label>
                <input v-model="newColumn.color" style="width: 100%" type="color"></input>
                <hr />
            
                <!-- column ordering -->
                <label><b>Card Ordering</b></label>
                <select name="cardOrder" id="newCardOrder" v-model="newColumn.order">
                    <option value="alphabetical">Order alphabetically</option>
                    <option value="priority">Order by card priority</option>
                    <option value="deadline">Order by card deadline</option>
                </select>
            
            
            </b-modal>

        </header>

        <!-- tidywork.space board container -->
        <div class="myContainer">
            <main>
                <!-- bootstrap container -->
                <b-container> 
                    <!-- single row of columns, contains b-cols which contain b-cards -->
                    <b-row :cols="columns.length">
                        <b-col
                            v-for="(column, col) in columns"
                            :key="col"
                        > 
                            <!-- column card -->
                                <b-card
                                    :title="column.name" 
                                    :style="{backgroundColor: column.color}"    
                                    class="column-card"
                                > 
                                    <!-- column card BODY -->
                                    <b-card-body>
                                        <b-row cols="1"> <!-- one column because cards should be stacked inside column-->
                                            <b-col
                                                v-for="(card, car) in column.cards" 
                                                :key="car"
                                            >
                                                <!-- actual card inside column-->
                                                <b-card 
                                                    :title="card.name" 
                                                    :style="{backgroundColor: card.color}"
                                                    class="card-card"
                                                >

                                                    <!-- card FOOTER -->
                                                    <b-card-footer> 

                                                        <!-- card BUTTONS -->
                                                        <div>
                                                            <!-- EDIT CARD b-dropdown -->
                                                            <b-dropdown boundary="window" text="Edit Card">
                                                                <div class="edit-cards-dropdown">
                                                                    <ul>
                                                                        <li>
                                                                            <!-- modal button to show card details -->
                                                                            <b-button v-b-modal="'viewCardModal'+col+car" variant="info">View Card</b-button>
                                                                        </li>
                                                                        <li>
                                                                            <!-- delete card button -->
                                                                            <b-button variant="danger" @click="deleteCard(col, car)">Delete Card</b-button>
                                                                        </li>
                                                                        <li>
                                                                            <!-- modal button to move card  -->
                                                                            <b-button v-b-modal="'moveCardModal'+col+car" variant="light" block>Move Card</b-button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </b-dropdown>
                                                        </div>


                                                        

                                                            <!-- modal to view/edit card detials -->
                                                            <b-modal 
                                                                :id="'viewCardModal'+col+car" 
                                                                :title="card.name" 
                                                                ok-only 
                                                                ok-title="Close Card">

                                                                <!-- modal CONTENT to view/edit card detials -->

                                                                <!-- edit title -->
                                                                <label><b>Card Title</b></label>
                                                                <input v-model="columns[col].cards[car].name" style="width: 100%" type="text"></input>
                                                                <hr />
                                                                
                                                                <!-- edit description -->
                                                                <label><b>Card Description</b></label>
                                                                <textarea v-model="columns[col].cards[car].description" style="width: 100%" type="text"></textarea>
                                                                <hr />
                                                                
                                                                <!-- edit color -->
                                                                <label><b>Card Color</b></label>
                                                                <input v-model="columns[col].cards[car].color" style="width: 100%" type="color"></input>
                                                                <hr />

                                                                <!-- edit deadline -->
                                                                <label><b>Card Deadline</b></label>
                                                                <input v-model="columns[col].cards[car].deadline" style="width: 100%" type="datetime-local"></input>
                                                                <hr />

                                                                <!-- add comments -->
                                                                <label><b>Add Comment</b></label>
                                                                <input placeholder="Comment" v-model="newComment.description" style="width: 100%" type="text"></input>
                                                                <hr />
                                                                
                                                                <b-button variant="info" block @click="createComment(col, car)">Add Comment</b-button>

                                                                <!-- view comments -->
                                                                <label><b>Comments</b></label>
                                                                <ul>
                                                                    <li v-for="(comment, com) in card.comments" :key="com">
                                                                        <div>
                                                                            <p>Comment Timestamp: {{displayDate(comment.timestamp)}}</p>
                                                                            <p>Comment Description: {{comment.description}}</p>
                                                                            <b-button variant="danger" block @click="deleteComment(col, car, com)">🗑Delete Comment</b-button>
                                                                        </div>
                                                                    </li>
                                                                </ul>

                                                                <!-- delete card button -->
                                                                <b-button variant="danger" block @click="deleteCard(col, car)">Delete Card</b-button>
                                                            </b-modal>  

                                                            <!-- card FOOTER (cont...) -->
                                                            
                                                            <!-- MODAL allows user to edit card content -->
                                                            <b-modal 
                                                                :id="'moveCardModal'+col+car" 
                                                                :title="'Move ' + card.name" 
                                                                ok-title="Move Card" 
                                                                @ok="moveCard(col, car)">
                                                                <!-- actual move card modal content -->
                                                            
                                                                <!-- destination column -->
                                                                <label><b>Move Card To</b></label>
                                                                <select name="moveCardToColumn" :id="'moveCardToColumn'+col" v-model="cardToMoveDestination">
                                                                    <option v-for="(column, c) in columns" :value="c">{{column.name}}</option>
                                                                </select>
                                                            </b-modal>


                                                    </b-card-footer>
                                                </b-card>
                                            </b-col>
                                        </b-row>
                                    </b-card-body>

                                    <!-- COLUMN card FOOTER -->
                                    <b-card-footer>

                                        <!-- button DROPDOWN -->
                                        <b-dropdown class="edit-column-dropdown" boundary="window" text="Edit Column">
                                            <div class="mx-3 my-3">
                                                <ul> 
                                                    <li>
                                                        <!-- button to edit column -->
                                                        <b-button v-b-modal="'editColumnModal'+col" variant="dark" block>View Column</b-button>
                                                    </li>
                                                    <li>
                                                        <!-- button to open create card modal  -->
                                                        <b-button v-b-modal="'createCardModal'+col" variant="info" block>Create Card</b-button>
                                                    </li> 
                                                </ul>   
                                            </div>
                                        </b-dropdown>
                                    
                                        <!-- edit column MODAL -->
                                        <b-modal 
                                            :id="'editColumnModal'+col" 
                                            @ok="" 
                                            @cancel="" 
                                            title="Edit Column" 
                                            ok-title="Save Changes">
                                            <!-- actual edit column modal content -->

                                            <!-- Column title  -->
                                            <label><b>List Title</b></label>
                                            <input v-model="column.name" style="width: 100%" type="text"></input>
                                            <hr />

                                            <!-- Column color -->
                                            <label><b>List Color</b></label>
                                            <input v-model="columns[col].color" style="width: 100%" type="color"></input>
                                            <hr />
                                    
                                            <!-- delete column button -->
                                            <b-button 
                                                variant="danger" 
                                                block 
                                                @click="deleteColumn(col)">Delete Column</b-button>
                                        </b-modal>

                                        <!-- COLUMN card FOOTER (CONTINUED...) -->

                                        <!-- create card modal -->
                                        <b-modal 
                                            :id="'createCardModal'+col" 
                                            @ok="createCard(col)" 
                                            @cancel="resetNewCard()" 
                                            title="Create New Card" 
                                            ok-title="Create Card">

                                            <!-- actual create card modal content -->

                                            <!-- card title  -->
                                            <label><b>Card Title</b></label>
                                            <input v-model="newCard.name" style="width: 100%" type="text"></input>
                                            <hr />

                                            <!-- card description  -->
                                            <label><b>Card Description</b></label>
                                            <input v-model="newCard.description" style="width: 100%" type="text"></input>
                                            <hr />
                                            
                                            <!-- card color  -->
                                            <label><b>Card Color</b></label>
                                            <input v-model="newCard.color" style="width: 100%" type="color"></input>
                                            <hr />
                                            
                                            <!-- card deadline  -->
                                            <label><b>Card Deadline</b></label>
                                            <input v-model="newCard.deadline" style="width: 100%" type="datetime-local"></input>
                                            <hr />
                                        </b-modal>

                                    
                                    </b-card-footer>
                                </b-card>
                        </b-col>    

                    </b-row>

                </b-container>  

            </main>


        </div>

        <!-- TEST BUTTONS for API calls -->

        <!-- <div id="btn-fetch" v-on:click="fetchApi()" class="m-3 ml-5 btn btn-primary">Test Fetching</div>
        
        <div id="btn-upload" v-on:click="uploadApi(jsonData)" class="m-3 ml-5 btn btn-primary">Test Uploading</div> -->


    </div>  
</body> 

</html>