/*
 * Basic styling for tidywork.space project 
 *
 * @authors Joseph Nagy
 */


 /* General Styling */

/* Class Styling */
.title{
	color: blue;
	text-align: center;
}

.edit-board-buttons{
	text-align: center;
}
