/*
 * Basic styling for tidywork.space project 
 *
 * @authors Joseph Nagy
 */


 /* General Styling */

/* ID styling */


/* Class Styling */

/* .myDropdown ul li{
	background-color: #ACAEC5;
    color: black;
}

.card-body {
	background-color: #E2BAB1;
} */

.title{
	color: #252527;
	text-align: center;
}

/* dropdowns */
.edit-board-dropdown {
	text-align: center;
}

.edit-board-dropdown ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.edit-board-dropdown ul li{
	margin: 10%;
}

.edit-cards-dropdown ul{
	list-style: none;
	text-align: center;
	padding: 0;
}

.edit-cards-dropdown ul li{
	margin: 10%;
}

.edit-column-dropdown ul{
	list-style: none;
	text-align: center;
	padding: 0;
}

.edit-column-dropdown ul li{
	margin: 10%;
}

.edit-board-buttons{
	text-align: center;
}

.column-card{
	text-align: center;
}
.card-title{
	background-color: white;
    border-radius: 10px;
    padding: 4%;
    text-align: center;
}

/* b-card for cards within column card */
.card-card{
	text-align: center;
}